<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.nirmaljeffrey.dev.pokedex">

  <application>
    <provider
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      android:name="androidx.startup.InitializationProvider"
      tools:node="merge">
      <meta-data
        android:name="com.nirmaljeffrey.dev.pokedex.initializers.StethoInitializer"
        android:value="androidx.startup" />
    </provider>
  </application>

</manifest>